:root {
	--color-primary: #664de5;
	--color-background: white;
	--color-border: rgb(225, 225, 225);
	--color-text: black;
	--color-light-text: grey;
	--color-label: rgb(50, 50, 50);
}

button {
	background-color: var(--color-primary);
	color: var(--color-background);
	border: 0px;
	border-radius: 0.25rem;
	outline: none;
	padding: 1rem;
	margin: 1rem;
}

label {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	font-size: small;
	color: var(--color-label);
}

input {
	border: 1px solid var(--color-border);
	border-radius: 0.25rem;
	outline: none;
	padding: 0.5rem;
	margin: 1rem;
	color: var(--color-text);
}

label input {
	margin: 0.5rem 0 0 0;
}
